.posts {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.posts li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #F2F3F4;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.posts li:hover {
  color: #9BDDFF;
  background-color: #EBECF0;
  left: .1em;
}

.posts .text {
  position: relative;
  top: -3px;
}

.posts .modified {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #9BDDFF;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
